.header{
  padding: 24px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: $header-height;

  &__menu {
    ul {
      @extend %height100;
      gap:60px;
      list-style: none;
    }

    li:last-child {
      a {
        @extend %default-border-radius;
        @extend %default-transition;

        padding: 7px 19px 4px;
        text-transform: uppercase;
        background-color:$accent-color ;
        border-radius: 1px solid $accent-color;

        &:hover {
          background-color: transparent;
        }
      }
    }
    a {
      font-size:$font-custom;
      color: $additional-font-color;
    }
  }
}

