.banner {
  @extend %terms;

  @include bg-image('./../../assets/images/jpg/employee.jpg');

  height: 100vh;
  min-height: $banner-min-height;
  padding: $header-height 0;

  .container {
    @extend %height100;
  }

  &__content {
    @extend %height100;
  }

  h1 {
    max-width: 661px;
    margin-bottom: 80px;

    font-size: $font-xxl;
    font-weight: $font-medium;
    color: $additional-font-color;
  }

  &__test {
    margin-bottom: 20px;
  }
}
