.how {
  @extend %term;

  padding: 130px 0 150px 0;
  background-color:#F4F4FA; ;

  &__column{
    gap: 40px;
    margin-bottom: 80px;
  }
  &__title{
    margin-bottom: 90px;
  }

  &__title-text {
    font-size: $font-xl;
    font-weight: $font-medium;
    color: $additional2-font-color;
  }

  &__column-get-ready {
    width: 360px;
    padding: 36px 65px 45px 30px;
    background-color: $additional-font-color;
    border-radius: $default-border-radius 100px $default-border-radius $default-border-radius ;

  }

  &__column-test {
    width: 360px;
    padding: 36px 65px 45px 30px;
    background-color: $additional-font-color;
    border-radius: $default-border-radius 100px $default-border-radius $default-border-radius ;

  }

  &__column-certificate {
    width: 360px;
    padding: 36px 65px 45px 30px;
    background-color: $additional-font-color;
    border-radius: $default-border-radius 100px $default-border-radius $default-border-radius ;

  }

  &__column-get-ready-img-vector{
    margin-bottom: 30px;
    padding: 16px 19px;
    background-color: rgb(46 172 243 / 50%);
    border-radius: $default-border-radius;
  }

  &__column-test-img-list{
    margin-bottom: 30px;
    padding: 16px 19px;
    background-color:rgb(66 51 244 / 50%);
    border-radius: $default-border-radius;
  }

  &__column-certificate-img-checkbox{
    margin-bottom: 30px;
    padding: 16px 19px;
    background-color:rgb(60 210 220 / 50%);
    border-radius: $default-border-radius;
  }

  a {
    margin-bottom: 15px;
    padding-right: 10px;
  }

  &__checkbox-test{
    gap: 60px;
    height: 30px;

  }

  h3 {
    font-size: $font-lg;
    font-weight: $font-lg;
    color: $additional2-font-color;
  }
}
