
body {
  position: relative;

  font-family: $main-font-family,sans-serif;
  font-size: $font-md;
  font-weight: $font-regular;
  line-height: 1.2;
  color: $main-font-color;
}

.container{
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}


.d-flex{
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}


.align-items-center{
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

a {
  @extend %default-transition;

  display: inline-block;
  color: $color-light;
  text-decoration: none;

   &.default:hover {
     color: $accent-color;

   }

  &.blue {
    color: $accent-color;

    &:hover {
      color: $additional2-font-color;
    }
  }

  &.purple{
    color: #4233F4;

    &:hover {
      color: $additional2-font-color;
    }
  }

  &.blue-sky {
    color: #2CCBD6;

    &:hover {
      color: $additional2-font-color;
    }
  }
}

.btn {
  width: 250px;
  padding: 14px 61px;

  color: $additional-font-color;

  background-color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: $default-border-radius $big-border-radius;

  &:hover {
    background-color: $main-font-color;
    border-color: $additional-font-color;
  }

}
