%default-transition {
  transition: 0.3s;
}

%default-border-radius {
  border-radius: $default-border-radius;
}

%bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
%height100 {
  height: 100%;
}

%terms {
  form {
    @extend .d-flex;
    max-width: 500px;
    gap: 10px;
    label {
      color: $additional-font-color;
      font-weight: $font-light;
      font-size: $font-sm;
    }
  }
}
%term {
  form {
    @extend .d-flex;
    max-width: 500px;
    gap: 10px;
    label {
      color: $additional2-font-color;
      font-weight: $font-light;
      font-size: $font-sm;
    }
  }
}

