%default-transition {
  transition: 0.3s;
}

%default-border-radius {
  border-radius: $default-border-radius;
}

%bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
%height100 {
  height: 100%;
}

%terms {
  form {
    @extend .d-flex;

    gap: 10px;
    max-width: 500px;

    label {
      font-size: $font-sm;
      font-weight: $font-light;
      color: $additional-font-color;
    }
  }
}
%term {
  form {
    @extend .d-flex;

    gap: 10px;
    max-width: 500px;

    label {
      font-size: $font-sm;
      font-weight: $font-light;
      color: $additional2-font-color;
    }
  }
}

%text-main {
  font-family: $f-poppins-regular;
  line-height: 1.4;
  color: $color-dark;
}

